.wall-form-container {
    top: 0;
    z-index: 1;
    background-color: transaparent;
    padding: 10px; 
    
  }
  .form-container{
    display: flex;
    flex-direction: row;
  }
  .error-form-wall{
    color: var(--light1);
    font-size: 14px;
  }
.new-wall-button{
  color: var(--light1);
  background: transparent;
  border-radius: 5px;
  border: 1px solid var(--light1);
  height: fit-content;
  padding: 5px;
  transition: color 0.3s,background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}
.new-wall-button:hover{
  color: black;
  background: var(--light1);
  box-shadow: 1px -1px 10px 10px rgba(0,0,0,0.15);
  transform: translateY(-2px) scale(1.1);
  border:1px solid black;
}
#new-wall-form{
  color:white;
}