.index-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    background-image: linear-gradient(135deg,
            hsl(196deg 24% 46%) 0%,
            hsl(196deg 26% 43%) 29%,
            hsl(197deg 28% 41%) 47%,
            hsl(197deg 31% 38%) 60%,
            hsl(197deg 34% 35%) 70%,
            hsl(197deg 37% 32%) 79%,
            hsl(198deg 42% 30%) 86%,
            hsl(198deg 48% 27%) 92%,
            hsl(197deg 55% 24%) 97%,
            hsl(197deg 66% 21%) 100%);
    -webkit-box-shadow: 11px 17px 58px 5px rgba(1, 22, 30, 1);
    -moz-box-shadow: 11px 17px 58px 5px rgba(1, 22, 30, 1);
    box-shadow: 11px 17px 58px 5px rgba(1, 22, 30, 1);
    border: 2px solid;
    border-color: var(--black);
    border-radius: 20px;
    width: 80%;
    /*min-width: 400px;*/
    margin: auto;

}

p.error {
    margin: auto;
    margin-bottom: 5px;
    text-align: center;
    color: var(--warning);
}

.scale-up-center {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@media (max-width:480px) {
    .index-container {
        width: 100%;
    }
}